
@media screen and (max-width: 850px) {


	.main-header {



		.nav-lists {
			position: fixed;
			top:0;
			left: 0;
			height: 100vh;
			width: 50vw;


			// background-color: #191919;

			box-shadow: inset 0 0 200px rgba(0,0,0,.5);
			backdrop-filter: blur(10px);



			z-index: 2000;	

			padding: auto 150px;
			align-items: center;
			justify-content: center;

			flex-direction: column;

			display: none;
			
		


			.nav-list:hover {
				background-color: rgba(225,225,225,0.1);
				border-radius: 10px;
			}
				
			.sub-menu::before {
				display: none;
			}
	
			.sub-menu {
				display: none;
			}

			
			
		}

		.active {
			display: flex;
		}

		.nav-lists > li {
			line-height: 3rem;
		}

		.menu-icon {
			display: block;
			z-index: 2500;
	
		}
		

	}

    
    


}