* , *::before , *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353b48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.projects {
    margin: 6rem 0;
}

.inner-width {
    padding: 0 10rem;
}


.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: calc(33% - 1rem);
    max-width: 400px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #353b48;

    margin: 1rem 0;
    padding: 1rem;

    transition: .3s linear;
}
.card:hover {
    box-shadow: rgba(145,174,255,.9) 0em 0em .5em;
    transform: scale(1.1);
}

.card h3 {
    margin: 1rem 0;
    padding: .5rem 0;
    font-family: cursive;
    font-size: 2rem;
}


.card button {
    margin: 2rem 0;
    padding: .8rem 2.5rem;

    background-color: #0a0a1a;
    color: white;
    border-style: none;
    border-radius: 5px;
    transition: .3s linear;
}
.card button:hover {
    box-shadow: rgba(145,174,255,.9) 0em 0em 1em;
    transform: scale(1.1);
}


.imgbox {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
}
.img1 {
    background: no-repeat center/100% url(works/1.jpg);
}
.img2 {
    background: no-repeat center/100% url(works/2.jpg);
}
.img3 {
    background: no-repeat center/100% url(works/3.jpg);
}
.img4 {
    background: no-repeat center/100% url(works/4.jpg);
}
.img5 {
    background: no-repeat center/100% url(works/5.jpg);
}
.img6 {
    background: no-repeat center/100% url(works/6.jpg);
}








@media screen and (max-width: 1280px) {
    .inner-width {
        padding: 0 3rem;
    }
}



@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 1rem);
    }
    .inner-width {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 550px) {
    .inner-width {
        padding: 0 1rem;
    }
    .card {
        width: calc(100% - 1rem);
        margin: .5rem 0;
    }
}