.hero {
  height: 100vh;
  background: url(./img/sky.jpg) no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
}

.hero h1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 20px 0;
}

.hero h1::before, .hero h1::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

.hero h1:before {
  left: 0;
  border-bottom: 5px solid #0a0a1a;
}

.hero h1::after {
  right: 0;
  border-top: 5px solid #0a0a1a;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
  padding: 0 10vw;
  color: #0a0a1a;
  z-index: 1000;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link {
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links .nav-link:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main-header .nav-links .nav-link:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.main-header .nav-links .nav-link:nth-of-type(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main-header .nav-links .nav-link a {
  margin: .2rem;
  padding: .5rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  border-radius: 10px;
  background: rgba(225, 225, 225, 0.2);
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #0a0a1a;
  height: 2px;
  width: 20px;
  border-radius: 5px;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: #0a0a1a;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-header .menu-btn {
  position: absolute;
  top: -100px;
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.main-header .menu-btn:focus ~ .menu-icon .menu-icon__line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.main-header.scrolled {
  height: 50px;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #fff;
}

.main-header.blurry {
  -webkit-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.main-header.back {
  background: rgba(0, 0, 0, 0.3);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0a1a;
  color: white;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.container p {
  margin: 1rem 0;
}
/*# sourceMappingURL=main.css.map */