/* 
=====================================================
                   NOTES
=====================================================



transition-property: 
	all or 
	specific property name;

transition-duration: 1s ;
transition-timing-function:  ;
transition-delay: 2s;
transition: 
			property1  duration  timing-func   delay;
			properry2  duration  timing-func   delay;
			property3  duration  timing-func   delay;



=====================================================
 */



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0a0a1a;

}


.box {
	border: 2px solid blue;
	/* background-color: gray; */
	height: 300px;
	width: 300px;

	position: relative;
	margin: auto;
	/* horizontally CENTER the element within its container. The element will take up the SPECIFIED WIDTH and the remaining space will be split EQUALLY between the LEFT and RIGHT MARGINS.  */
	top: 200px;


	transition: background-color,
				border-radius 1s ease ,
				transform 2s linear,
				
				;


}

.box:hover {
	background-color: royalblue;
	border-radius: 50%;
	transform: rotate(180deg);

}







