* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: #0a0a1a;
	color: white;
}

#svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: fill .8s ease forwards 3.5s;
}

#svg path:nth-child(1) {
	stroke-dasharray: 590;
	stroke-dashoffset: 590;
	animation: line-anim 2s ease forwards;
}
#svg path:nth-child(2) {
	stroke-dasharray: 540;
	stroke-dashoffset: 540;
	animation: line-anim 2s ease forwards .3s;

}
#svg path:nth-child(3) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	animation: line-anim 2s ease forwards .9s;

}
#svg path:nth-child(4) {
	stroke-dasharray: 260;
	stroke-dashoffset: 260;
	animation: line-anim 2s ease forwards 1.2s;

}
#svg path:nth-child(5) {
	stroke-dasharray: 730;
	stroke-dashoffset: 730;
	animation: line-anim 2s ease forwards 1.5s;

}
#svg path:nth-child(6) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	animation: line-anim 2s ease forwards 1.8s;

}
#svg path:nth-child(7) {
	stroke-dasharray: 550;
	stroke-dashoffset: 550;
	animation: line-anim 2s ease forwards 2.1s;

}
#svg path:nth-child(8) {
	stroke-dasharray: 270;
	stroke-dashoffset: 270;
	animation: line-anim 2s ease forwards 2.4s;

}


@keyframes line-anim {
	to {
		stroke-dashoffset: 0;;
	}
}@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}